* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    
    /* background: url('images/background-wallpaper-2.jpg') no-repeat center center/216.45% fixed; */
    background-color: gray;
}

body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.word-panel-toggle {
    z-index: 1000;
    width: 4.5vh;
    height: 5vh;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    position: absolute;
    right: 0;
    top: 20vh;
    justify-content: center;
    
    border: none;
    border-radius: 1.5vh 0 0 1.5vh;
    color: #ffffff;
    background: rgba(50, 50, 50, .5);

    outline: none;
    cursor: pointer;
    
    animation: slide-icon-out 0.25s ease-out forwards;
}

.word-panel-toggle {
    right: 0;
}

.word-panel-icon-close {
    display: none !important;
}

.word-panel {
    z-index: 100;
    height: 87vh;
    width: 0vh;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background: url("images/background-wallpaper-3.jpg");

    overflow-x: hidden;
    animation: slide-panel-out 0.25s ease-out forwards;

    justify-content: center;

    border-radius: 0 0 0 2vh;
    /* TODO make this look nicer? idk i just threw it in */
    box-shadow: none;
}

.word-panel-opened .word-panel-toggle {
    animation: slide-icon-in 0.25s ease-out forwards;
}

.word-panel-opened .word-panel {
    animation: slide-panel-in 0.25s ease-out forwards;
}

.word-panel-opened .word-panel-icon-open {
    display: none !important;
    animation: slide-icon-out 0.25s ease-out forwards;
}

.word-panel-opened .word-panel-icon-close {
    display: initial !important;
}

.material-icons {
    font-size: 3vh !important;
}

@keyframes slide-panel-in {
    0% {
        width: 0vh;
        box-shadow: none;
    }
    100% {
        width: 41.5vh;
        box-shadow: -1vh 1vh 1vh rgba(0, 0, 0, 0.5);
    }
}
@keyframes slide-panel-out {
    0% {
        width: 41.5vh;
        box-shadow: -1vh 1vh 1vh rgba(0, 0, 0, 0.5);
    }
    100% {
        width: 0vh;
        box-shadow: none;
    }
}
@keyframes slide-icon-in {
    0% {
        right: 0vh;
    }
    100% {
        right: 41.5vh;
    }
}
@keyframes slide-icon-out {
    0% {
        right: 41.5vh;
    }
    100% {
        right: 0vh;
    }
}

::-webkit-scrollbar {
    display: none;
}

#combinedWordList {
    display: grid;
    /* gap: 12vh; */
    /* flex-direction: row; */
    background-color: #375333;
    border-radius: 2vh;
    width: 75%;
    height: 75%;
    overflow-y: scroll;
}

#wordList {
    flex: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: left;
    margin-left: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#pointList {
    margin-right: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    grid-row-start: 1;
    justify-self: end;
    /* display: flex;
    flex-direction: column;
    align-items: flex-end; */
}

.word-element {            
    display: block;
    word-wrap: break-word;
    background-image: url('images/letter-tile-background.png');
    background-size: 120%;
    background-position: center;
    padding: .15vh 1vh .15vh;
    margin: .4vh;
    border-radius: .5vh;
    width: max-content;
    font-size: 1.75vh;
    font-weight: bold;
    position: relative;
}

.word-element-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: url('images/letter-tile-background.png');
    background-size: 120%;
    background-position: center;
    text-align: center;
}

.point-element {
    background-size: 120%;
    background-position: center;
    padding: .15vh 1vh .15vh;
    margin: .4vh;
    border-radius: .5vh;
    color: white;
    font-size: 1.75vh;
    font-weight: bold;
    text-align: right;
}

#revealAllWordsButton {
    padding: 1vh 2vh;
    font-size: 2.4vh;
    font-weight: bold;
    border: none;
    border-radius: .8vh;
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.2);
    margin-bottom: 4vh;
    padding: 2vh 6vh 2vh;
    overflow: hidden;
    white-space: nowrap;
}









#phoneScreen {    
    background: url('images/background-wallpaper-3.jpg') no-repeat center center fixed;
    /* background: url('images/1.png'); */
    /* 828 x 1792 aspect ratio */
    height: 100vh;
    width: 46.2vh;
    /* height: 1792px;
    width: 828px; */
    background-size: contain;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    touch-action: none;
}

#topBar {
    width: 100%;
    position: absolute;
    top: -11%; /* Align to the top of phoneScreen */
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topBarImage {
    width: 100%;
    height: auto;
}

.startButton {
    padding: 1vh 2vh;
    font-size: 2.4vh;
    font-weight: bold;
    border: none;
    border-radius: .8vh;
    cursor: pointer;
    position: absolute;
    top: 20%; /* Adjust this value to move the button higher or lower */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.2);
}

/* button:hover, */
button:active {
    background-color: #82C09A;
}





/* TODO CORRECT THIS */

/* Score Display */
#scoreDisplayBackground {
    position: absolute;
    width: 79%;
    height: 9%;
    margin-bottom: 165%;
    z-index: 99;
    background-image: url('images/score-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
#playerAvatar {
    width: 20%;
    height: auto;
    margin-left: 6%;
    z-index: 101;
}
#scoreDisplayTextBox {
    position: absolute;
    width: 59%;
    height: 8%;
    margin-bottom: 165%;
    margin-left: 23%;
    z-index: 100;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* padding: 10px 30px; */
    padding-top: 2%;
    padding-bottom: 2%;
    /* font-family: 'Arial', Gadget, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    font-size: 100%;
}

#scoreDisplayTextBox .words {
    /* font-size: 120%; */
    font-size: 1.8vh;
    font-weight: bold;
    line-height: 90%;
}

#scoreDisplayTextBox .score {
    /* font-size: 200%; */
    font-size: 3vh;
    font-weight: bolder;
    line-height: 90%;
}

/* Grid Styles */
.letters-container {
    width: 76%;
    aspect-ratio : 1 / 1;
    /* max-width: calc(76vh * 0.76);  */
    /* padding-bottom: min(76%, calc(76vh * 0.76));   */

    background-color: #4C5F49;
    border: .75vh solid #A4E593; /* Approximate size; adjust as needed */
    border-radius: 5%;
    position: absolute;
    top: 63%; /* Slightly below vertical center, adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box; /* Don't include border in the size calculation */
    z-index: -1;

    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5%; */
}

#grid {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;

    /* Default values. This is changed in the js script. */
    grid-template-columns: repeat(4, 21%);
    grid-template-rows: repeat(4, 21%);
    gap: 3.2%;

    justify-content: center;
    align-content: center;
}

/* Individual Box Styles */
.box {
    border-radius: 1vh;
    font-size: 5.5vh;
    font-family: 'Arial', Gadget, sans-serif;
    font-weight: bold;
    text-shadow: white 0 .05vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1vh .5vh rgba(0, 0, 0, .3);
    background-image: url('images/letter-tile-background.png');
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    color: black;
    background-size: contain;
}
.box.active {
    background-image: url('images/letter-tile-background-active.png');
    position: relative;
    z-index: 11;
    animation: jiggle 0.2s ease forwards;
}
@keyframes jiggle {
    0% {
        transform: scale(0.95);
    }
    60% {
        transform: scale(1.08);
    }
    80% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1.06);
    }
}
.use-success-color .box.active {
    background-image: url('images/letter-tile-background-success.png');
    position: relative;
    z-index: 11;
}
.use-repeated-word-color .box.active {
    background-image: url('images/letter-tile-background-repeat.png');
    position: relative;
    z-index: 11;
}

/* Current Word TextBox Styles */
#currWordTextBox {
    /* background-color: white; */
    position: absolute;
    font-weight: bold;
    text-align: center;
    border: none;
    font-family: 'Arial', Gadget, sans-serif;
    border-radius: 1vh;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.3);
    outline: none;
    display: inline-block;
    font-size: 2vh;
    padding: 1.5% 3%;
    bottom: 58%;
    position: absolute;
    visibility: hidden;
    /* opacity: 1; */
    /* transition: opacity 0.5s ease-out; */
}
#currWordTextBox.use-success-color {
    background-color: #7BF67A;
}
#currWordTextBox.use-repeated-word-color {
    background-color: #e8e697;
}

/* Word Selection Line Styles */
.line {
    height: 1.5vh;
    background-color: rgb(255, 110, 110);
    transform-origin: 0 0;
    position: absolute;
    z-index: 15;
    opacity: .85;
    border-radius: 10px;
    /* transition: opacity 0.5s ease-in-out; */
}

.use-success-color .line,
.use-repeated-word-color .line {
    background-color: white;
    z-index: 15;
    /* opacity: .5; */
    /* transition: opacity 0.5s ease-in-out; */
}

.fade-out {
    opacity: 0;
}





/* Settings */
.settings-button {
    height: 5vh;
    width: 5vh;
    background-color: none;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: 6%;
    top: 20%;
}
.settings-button:active {
    background: none;
}

#settings-button-image {
    height: 5vh;
    width: 5vh;
    filter: invert(100%);
}
.settings-button:active #settings-button-image {
    filter: invert(50%);
}

#settings-screen-cover {
    display: none;

    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .3);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: flex;
}

#settings-menu {
    width: 80%;
    height: 50%;
    background-color: white;
    border-radius: 2vh;
    
}